# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Terraform
.terraform
terraform.tfstate*

# Yarn
yarn-error.log

# VSCode
*.code-workspace

# Jest
coverage