version: 2

jobs:
  build-and-test:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json"}}
      - run: yarn ci-test
      - persist_to_workspace:
          root: .
          paths:
            - .
  terraform-apply:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Terraform
          command: |
            echo {{ CIRCLE_BRANCH}}
            terraform init
            terraform workspace select {{ CIRCLE_BRANCH }}
            terraform apply -auto-approve
  sls-deploy:
    docker:
      - image: circleci/node:10
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install Serverless CLI and dependencies
          command: |
            sudo npm i -g serverless
            npm install
      - run: yarn ci-deploy

workflows:
  version: 2
  test_only:
    jobs:
      - build-and-test:
          filters:
            branches:
              ignore:
                - dev
                - prod
  build_and_deploy_dev:
    jobs:
      - build-and-test:
          filters:
            branches:
              only:
                - dev
      - terraform-apply:
          requires:
            - build-and-test
          filters:
            branches:
              only:
                - dev
          context: kerbyferris
      - sls-deploy:
          requires:
            - terraform-apply
          filters:
            branches:
              only:
                - dev
          context: kerbyferris
  build_and_deploy_prod:
    jobs:
      - build-and-test:
          filters:
            branches:
              only:
                - prod
      - terraform-apply:
          requires:
            - build-and-test
          filters:
            branches:
              only:
                - prod
          context: kerbyferris
      - sls-deploy:
          requires:
            - terraform-apply
          filters:
            branches:
              only:
                - prod
          context: kerbyferris
