version: 2

jobs:
  build-and-test:
    docker:
      - image: circleci/node:10
    steps:
      - checkout
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json"}}
      - run: yarn ci-test
      - persist_to_workspace:
          root: .
          paths:
            - .
  terraform-apply:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Terraform
          command: |
            terraform init
            terraform apply -auto-approve
  sls-deploy:
    docker:
      - image: amaysim/serverless
    steps:
      - attach_workspace:
          at: .
      - run: yarn ci-deploy

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-and-test
      - terraform-apply:
          requires:
            - build-and-test
          context: kerbyferris
      - sls-deploy:
          requires:
            - terraform-apply
          context: kerbyferris
